.login_container {
  position: relative;
  display: grid;
  grid-template-areas:
    "LOGO"
    "FORM"
    "FOOTER";
  grid-template-rows: auto 0.8fr var(--footer-height);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.login_container > header {
  grid-area: LOGO;
  height: fit-content;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: var(--clr-accent);
}

.login_container > section {
  grid-area: FORM;
  display: grid;
  max-height: 350px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 1em;
}

.login_container > section > * {
  width: minmax(50%, 300px);
  background-color: var(--clr-surface0);
  padding: 0.5em 2em;
  color: var(--clr-font);
  display: grid;
  grid-template-rows: 2em minmax(fit-content, 0.4fr) minmax(fit-content, 0.6fr);
  align-items: center;
  justify-items: center;
  gap: 1em;
}

.login_container > section > * h1 {
  color: var(--clr-accent);
}

.login_container > .background,
.login_container > .background * {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}
