

.selection_container {
  background: var(--clr-surface2);
  width: 100%;
  max-width: var(--selection-width);
  max-height: 400px;
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1;
  transition: all 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  user-select: none;
}

.selection_container.active {
  top: 50%;
  left: calc(50% + (var(--navbar-width) / 2));
  transform: translate(-50%, -50%);
  box-shadow: var(--shadow-heavy);
  animation: slideIn 500ms linear;
}

.selection_container.inactive {
  top: -100%;
  left: calc(50% + (var(--navbar-width) / 2));
  transform: translateX(-50%);
}

.selection_container > h1 {
  font-size: 1.3em;
  font-weight: 400;
  padding: 1em 0.5em;
  padding-top: 0;
  color: var(--clr-font);
}

.selection__item {
  width: 100%;
  font-size: 1.2em;
  padding: 1em 1em;
  transition: all 200ms ease;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.selection__item:hover {
  background-color: var(--clr-surface3);
  /* box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.15); */
}

.selection__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0.2em;
  height: 100%;
  background-color: var(--clr-accent);
  transform: translateX(-3px);
  opacity: 0;
  transition: opacity 200ms ease, transform 200ms ease;
}

.selection__item:hover::before {
  opacity: 1;
  transform: translateX(0);
}

/* Remove navbar from selection position */
/* MAYBE: improve this :) */
@media screen and (max-width: 1150px) {
  .selection_container.active, .selection_container.inactive {
    left: 50%;
  }
}
