.dashboard_container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.dashboard__body {
  margin: 0 auto;
  width: fit-content;
  height: 100%;
  display: grid;
  position: relative;
  grid-template-areas:
    'srch srch'
    'info btns'
    'que prev'
    'que prev'
    'ctrls prev';
  grid-template-columns: minmax(auto, 800px) auto;
  grid-template-rows: auto minmax(120px, 0.5fr) minmax(400px, 1fr) minmax(
      auto,
      0.5fr
    );
  gap: 1em;
  padding: var(--margin-bottom) 2em;
  overflow-y: auto;
}

.dashboard__body > section {
  background-color: var(--clr-surface1);
  box-shadow: var(--shadow-light);
  border-radius: var(--border-radius);
}

#info {
  grid-area: info;
  padding: 1em;
  width: 100%;
  height: 100%;
}

#video {
  aspect-ratio: 16/9;
  object-fit: contain;
  max-height: var(--max-video-height);
  width: auto;
}

#queue {
  grid-area: que;
  display: inline-block;
  width: 100%;
  height: 100%;
}

#player_controls {
  grid-area: ctrls;
  min-height: 120px;
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

#search {
  --thumb-width: 120px;
  --thumb-height: 90px;
  --search-bar-width: 450px;
  --search-bar-height: 3rem;
  display: flex;
  position: relative;
  width: var(--search-bar-width);
  height: calc(var(--search-bar-height) + 2em);
  margin: 0 auto;
  grid-area: srch;
}

#preview {
  grid-area: prev;
  width: fit-content;
  height: fit-content;
  margin-top: auto;
}

.prompt {
  position: absolute;
  top: 50%;
  left: calc(50% - var(--navbar-width) / 2);
  transform: translate(calc(-50% + var(--navbar-width) / 2), -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
