.dashboard_container {
  --max-video-height: 350px;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.dashboard__body {
  width: fit-content;
  height: 100%;
  display: grid;
  grid-template-areas:
    'srch srch'
    'info btns'
    'que prev'
    'que prev'
    'ctrls prev';

  /* VIDEO STUFF, come back to it later */
  /* This is done to keep first column only as wide as video component and enforce 16/9 aspect ratio
  grid-template-columns: minmax(auto, calc(16*var(--max-video-height)/9)) 1fr;
  grid-template-rows: 1fr 1fr auto; */
  grid-template-columns: minmax(auto, 800px) auto;
  gap: 1em;
  padding: var(--margin-bottom) 2em;
}

.dashboard__component {
  position: relative;
  background-color: var(--clr-surface1);
  display: flex;
  height: 100%;
  width: fit-content;
  overflow: hidden;
  box-shadow: var(--shadow-light);
  border-radius: var(--border-radius);
  z-index: 0;
}

#info {
  grid-area: info;
  padding: 1em;
  width: 100%;
}

#video {
  aspect-ratio: 16/9;
  object-fit: contain;
  max-height: var(--max-video-height);
  width: auto;
}

#queue {
  grid-area: que;
  align-items: flex-start;
  width: 100%;
}

#player_controls {
  grid-area: ctrls;
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

#search {
  grid-area: srch;
}

#preview {
  grid-area: prev;
  width: fit-content;
  height: fit-content;
  margin-top: auto;
}