.dashboard_container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.dashboard__body {
  margin: 0 auto;
  width: fit-content;
  height: 100%;
  display: grid;
  grid-template-areas:
    'head head'
    'info btns'
    'que prev'
    'que prev'
    'ctrls prev';

  /* VIDEO STUFF, come back to it later */
  /* This is done to keep first column only as wide as video component and enforce 16/9 aspect ratio
  grid-template-columns: minmax(auto, calc(16*var(--max-video-height)/9)) 1fr;
  grid-template-rows: 1fr 1fr auto; */
  grid-template-columns: minmax(auto, 800px) auto;
  grid-template-rows: auto minmax(120px, 0.5fr) minmax(400px, 1fr) minmax(auto, 0.5fr);
  gap: 1em;
  padding: var(--margin-bottom) var(--dashboard-margin);
  overflow: hidden;
  justify-content: center;
}

.dashboard__component {
  position: relative;
  background-color: var(--clr-surface1);
  display: flex;
  height: 100%;
  width: fit-content;
  overflow: hidden;
  box-shadow: var(--shadow-light);
  border-radius: var(--border-radius);
  z-index: 0;
}

#header {
  position: relative;
  height: 100%;
  grid-area: head;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: 1em;
  padding-right: 1em;
}

#info {
  grid-area: info;
  padding: 1em;
  width: 100%;
  height: 100%;
}

#video {
  aspect-ratio: 16/9;
  object-fit: contain;
  max-height: var(--max-video-height);
  width: auto;
}

#queue {
  grid-area: que;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

#player_controls {
  grid-area: ctrls;
  min-height: 120px;
  height: 100%;
  width: 100%;
  display: flex;
}

#search {
  grid-area: srch;
}

#preview {
  grid-area: prev;
  width: fit-content;
  height: fit-content;
  margin-top: auto;
}

@media screen and (max-width: 800px) {
  .dashboard__body {
    grid-template-rows: auto repeat(auto-fit, minmax(120px, 1fr));
    grid-template-columns: 1fr;
    padding: var(--dashboard-margin);
    gap: 0;
    row-gap: 1em;
  }

  #preview {
    display: none;
  }
}
