.btn_container > button {
  --border-width: 4px;
  --duration: 100ms;
  width: 100px;
  min-height: 50px;
  margin: 1em;
  background: var(--clr-surface3);
  /* background-color: transparent; */
  color: var(--clr-font);
  border: none;
  cursor: pointer;
  line-height: 1.2;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.5em 1em;
  letter-spacing: 0.05em;
  border-radius: calc(var(--btn-border-radius) / 2);
}

.btn_border {
  /* box-shadow:  0 0 0 var(--border-width) var(--clr-btn); */
  box-shadow: var(--shadow-light);
  color: var(--clr-surface2);
  font-weight: 900;
  transition: color var(--duration) calc(var(--duration) / 3);
  transition: box-shadow var(--duration);
  transition-timing-function: cubic-bezier(0, 1.5, 1, 1.5);
  transition: background-color calc(var(--duration) * 3) ease-out;
  position: relative;
  border-radius: var(--border-radius);
}

.btn_border::before,
.btn_border::after {
  border: 0 solid transparent;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  border-radius: calc(var(--btn-border-radius) / 2);
  /* where anim will begin from*/
  top: 0;
  left: 0;
}

.btn_border::before {
  border-top-width: var(--border-width);
  border-right-width: var(--border-width); /* opposite to starting */
}

.btn_border::after {
  border-bottom-width: var(--border-width); /* opposite to starting */
  border-left-width: var(--border-width);
}

.btn_border:focus {
  animation: click 100ms cubic-bezier(0.33, 1, 0.68, 1);
}

@keyframes click {
  0% {
  }
  50% {
    transform: scale(0.96);
  }
  100% {
    transform: scale(1);
  }
}

.btn_border:hover {
  background-color: var(--clr-font);
  color: black;
}

.btn_border:hover::before,
.btn_border:hover::after {
  border-color: var(--clr-font);
  transition: border-color 0s, width var(--duration), height var(--duration);
  width: 100%;
  height: 100%;
}

.btn_border:hover::before {
  transition-delay: 0s, 0s, var(--duration);
}

.btn_border:hover::after {
  transition-delay: 0s, var(--duration), 0s;
}

/* Disable hover background change*/
.btn_border.btn_inactive:hover {
  background: var(--clr-font);
}

.btn_border.btn_inactive,
.btn_border.btn_inactive * {
  opacity: 20%;
  color: var(--clr-surface1);
  animation: none;
  cursor: default;
}

.btn_border.btn_inactive:hover::before,
.btn_border.btn_inactive:hover::after {
  display: none;
}
