@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap");

:root {
  /* Colors */
  --clr-bg-dark: #0e0e12;
  --clr-bg: var(--clr-bg-dark);

  --clr-surface0-dark: #131619;
  --clr-surface0: var(--clr-surface0-dark);

  --clr-surface1-dark: #16161b;
  --clr-surface1: var(--clr-surface1-dark);

  --clr-surface2-dark: #131516;
  --clr-surface2: var(--clr-surface2-dark);

  --clr-surface3: #343647;

  --clr-accent: #a50e31;

  --clr-warning: #d7a936;
  --clr-error: #de4456;

  --clr-font: #e8e6e3;
  --clr-title: #cdc8c2;

  --clr-btn: #555555;

  /* Shadows */
  --shadow-light: 0 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-heavy: 0 8px 16px rgba(0,0,0,0.25);

  /* Constants */
  --margin-bottom: 1.5em;
  --border-radius: 0.5em;
  --btn-border-radius: 0.3em;
  --navbar-width: 250px;
  --thumb-width: 120px;
  --thumb-height: 90px;
  --search-bar-width: 450px;
  --search-bar-height: 3rem;

  --player-width: 350px;
  --header-height: 2em;

  --selection-width: 400px;
  --bar-height: .8em;

  --footer-height: 200px;
}

@media screen and (max-width: 850px) {
  :root {
    --selection-width: 80%;
  }
}

@media screen and (max-width: 1150px) {
  :root {
  }
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--clr-bg);
  color: var(--clr-font);
  overflow: hidden;
  font-family: "Roboto Condensed", sans-serif;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Scrollbar */
.no-overlay-scrollbar ::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-corner {
  background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}

.no-overlay-scrollbar ::-webkit-scrollbar-track-piece {
  background-color: initial;
}
.no-overlay-scrollbar ::-webkit-scrollbar-track-piece {
  background-color: initial;
}