@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap');

:root {
  /* Colors */
  --clr-bg-dark: #0e0e12;
  --clr-bg: var(--clr-bg-dark);

  --clr-surface0-dark: #131619;
  --clr-surface0: var(--clr-surface0-dark);

  --clr-surface1-dark: #16161b;
  --clr-surface1: var(--clr-surface1-dark);

  --clr-surface2-dark: #131516;
  --clr-surface2: var(--clr-surface2-dark);

  --clr-surface3: #343647;

  --clr-accent: #a50e31;

  --clr-warning: #d7a936;
  --clr-error: #de4456;

  --clr-font: #e8e6e3;
  --clr-title: #cdc8c2;

  --clr-btn: #555555;
  --clr-btn-inactive: #423f40;
  --clr-btn-active: #69081F;

  /* Shadows */
  --shadow-light: 0 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-heavy: 0 8px 16px rgba(0, 0, 0, 0.25);

  /* Constants */
  --margin-bottom: 1.5em;
  --border-radius: 0.5em;
  --btn-border-radius: 0.3em;
  --navbar-width: 250px;
  --thumb-width: 120px;
  --thumb-height: 90px;
  --search-bar-width: 450px;
  --search-bar-height: 3rem;

  --player-width: 350px;
  --header-height: 3em;

  --selection-width: 400px;
  --bar-height: 0.8em;

  --footer-height: 200px;
  --max-video-height: 350px;

  --margin-top: 300px;
  --srch-margin-left: 0px;

  --dashboard-margin: 2em 1em;
  --dashboard-margin-top: 2em;
}

[data-theme="light"] {
  --clr-surface0: #F4F4F5;
  --clr-surface1: #F2F3F2;
  --clr-surface2: #131516;
  --clr-surface3: #0D0D0D;
  --clr-accent: #DE3B40;
}

@media screen and (max-width: 1150px) {
  :root {
    --selection-width: 80%;
    --srch-margin-left: 2em;
    --search-bar-width: calc(450px - var(--srch-margin-left));
  }
}

@media screen and (max-width: 915px) {
  :root {
    font-size: .9em;
    --search-bar-width: calc(90% - var(--srch-margin-left));
    --thumb-width: 90px;
    --thumb-height: 60px;
    --margin-bottom: 1em;
  }
}


body {
  height: 100vh;
  width: 100vw;
  background: var(--clr-bg);
  color: var(--clr-font);
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Scrollbar */
.no-overlay-scrollbar ::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-corner {
  background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}

.no-overlay-scrollbar ::-webkit-scrollbar-track-piece {
  background-color: initial;
}
.no-overlay-scrollbar ::-webkit-scrollbar-track-piece {
  background-color: initial;
}
