.home_container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.dashboard_container {
  width: 100%;
  height: 100vh;
  display: inline-grid;
  position: relative;
  grid-template-areas:
    'vid info'
    'que info';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 1em;
  padding: 1em;
}

.dashboard_container > section {
  background-color: var(--clr-surface1);
  padding: 0.5em;
  display: inline-flex;
}

.dashboard_container > section:nth-child(1) {
  grid-area: vid;
  grid-row: span 1;
}

.dashboard_container > section:nth-child(2) {
  grid-area: que;
  grid-row: span 1;
  align-items: center;
}

.dashboard_container > section:nth-child(3) {
  grid-area: info;
  height: 100%;
}

.controls {
  --border-width: 4px;
  --duration: 10ms;
  display: inline-flex;
  height: fit-content;
  justify-content: space-around;
  position: absolute;
  top: 35%;
  left: 5%;
}

.controls > button {
  margin: 1em;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font-weight: 700;
  font-size: 1.2em;
  padding: .5em 1em;
  letter-spacing: 0.05em;
}

.btn_border {
  box-shadow: inset 0 0 0 var(--border-width) var(--clr-btn);
  color: var(--clr-font);
  transition: color var(--duration) calc(var(--duration) / 3);
  position: relative;
}

.btn_border:hover {
  box-shadow: inset 0 0 0 var(--border-width) var(--clr-font);
}

.btn_border:focus {
  box-shadow: inset 0 0 0 var(--border-width) var(--clr-accent);
}