
.queue_component {
  --header-height: 2em;
  display: grid;
  position: relative;
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: block;
  width: 100%;
  max-width: 900px;
  grid-template-rows: var(--header-height) repeat(auto-fill, 4em);
  gap: 0.2em;
  transition: all 100ms ease-out;
  padding: 0 0.5em 0.5em 0.5em;
  font-size: 100%;
  margin: 0 auto;
}

.queue__item {
  display: inline-grid;
  height: 4em;
  grid-template-columns: 50px repeat(auto-fit, minmax(50px, 1fr));
  gap: 0.1em;
  padding: 0 0.5em;
  margin: 0 0.1em;
  align-items: center;
  justify-items: center;
  background: var(--clr-surface1);
  transition: inherit;
  overflow: hidden;
  text-align: center;
  z-index: 9;
}

.queue__item > span {
  max-height: 90%;
  overflow-y: hidden;
  overflow-x: auto;
}

.queue__header {
  word-break: normal;
  color: var(--clr-title);
  background-color: #454a4d;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  margin: 0;
  z-index: 10;
}

.queue__item:hover {
  transform: scale(1.01);
  margin: 0;
}

.queue__header:hover {
  transform: none;
}

