
.searchBar_container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 3rem;
  background-color: var(--clr-surface2);
  padding: 0.1em 0.5em;
}

.search_input {
  position: relative;
  font-weight: bold;
  padding: .5rem;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-bottom: 1px solid var(--clr-bg);
  outline: none;
  background: transparent;
  transition: all 200ms ease-out;
}

.search_input:focus {
  border-bottom: 1px solid var(--clr-accent);
}

.search__icon * {
  transform: scale(0.8); /* TODO: find a better way of doing this ?*/
  fill: var(--clr-btn);
}